<div class="position-bottom">
						<ul class="list-horizontal-unstyled icon-sm">
							<li><a class="button-circle button-circle-sm button-border-1px button-circle-outline-white" href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a class="button-circle button-circle-sm button-border-1px button-circle-outline-white" href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a class="button-circle button-circle-sm button-border-1px button-circle-outline-white" href="#"><i class="fab fa-pinterest"></i></a></li>
							<li><a class="button-circle button-circle-sm button-border-1px button-circle-outline-white" href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
						<p class="margin-top-20">&copy; 2018 FlaTheme, All Rights Reserved.</p>
					</div>
				</div><!-- end fullscreen-menu-wrapper -->
			</div><!-- end fullscreen-menu -->

			<!-- Page header -->
			<div class="section-lg bg-image parallax" style="background-image: url(../assets/images/background.jpg)">
				<div class="bg-black-06">
					<div class="container text-center">
						<h1 class="font-weight-light no-margin">Toggle Menu 2</h1>
					</div><!-- end container -->
				</div>
			</div>
		</header>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
					</div>
					<div class="col-12 col-md-6">
						<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
					</div>
					<div class="col-12">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>

		<footer>
			<div class="footer bg-dark-lighter">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3">
							<h3 class="no-margin">Mono</h3>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<h6 class="heading-uppercase">Useful Links</h6>
							<ul class="list-icon list-icon-arrow">
								<li><a href="#">About us</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Prices</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<h6 class="heading-uppercase">Additional Links</h6>
							<ul class="list-icon list-icon-arrow">
								<li><a href="#">Services</a></li>
								<li><a href="#">Process</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Careers</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<h6 class="heading-uppercase">Contact Info</h6>
							<ul class="list-unstyled">
								<li>121 King St, Melbourne VIC 3000</li>
								<li>agencyclassic@email.com</li>
								<li>+(123) 456 789 01</li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div><!-- end footer -->