<html>
	<body data-preloader="2">
		<!-- Home section -->
		<div class="section-fullscreen bg-image parallax" style="background-image: url(../assets/images/background.jpg)">
			<div class="bg-black-06">
				<div class="container text-center">
					<div class="position-middle">
						<h1 class="display-4 font-weight-thin">Creative Photographer</h1>
					</div>
					<!-- scrolldown button -->
					<div class="position-bottom">
						<a class="scrolldown icon-lg" href="#about">
							<i class="ti-arrow-down"></i>
						</a>
					</div>
				</div>
				<!-- end container -->
			</div>
		</div>
		<!-- end Home section -->

		<!-- About section -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
						<img class="img-circle-lg margin-bottom-30" src="../assets/images/img-circle-large.jpg">
						<h5>Johnny Doe</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<a class="button button-lg button-fill-right-outline margin-top-30" href="#">More About Me</a>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end About section -->

		<!-- Gallery section -->
		<div class="section no-padding">
			<div class="container-fluid">
				<div class="row col-spacing-10">
					<!-- 1 -->
					<div class="col-12 col-md-6">
						<div class="hoverbox-8">
							<a href="#">
								<img src="../assets/images/col-1.jpg" alt="">
								<div class="content">
									<h6 class="heading-uppercase no-margin">Art, Painting</h6>
								</div>
							</a>
						</div>
					</div>
					<!-- 2 -->
					<div class="col-12 col-md-6">
						<div class="hoverbox-8">
							<a href="#">
								<img src="../assets/images/col-1.jpg" alt="">
								<div class="content">
									<h6 class="heading-uppercase no-margin">Fashion</h6>
								</div>
							</a>
						</div>
					</div>
					<!-- 3 -->
					<div class="col-12 col-md-6">
						<div class="hoverbox-8">
							<a href="#">
								<img src="../assets/images/col-1.jpg" alt="">
								<div class="content">
									<h6 class="heading-uppercase no-margin">Nature</h6>
								</div>
							</a>
						</div>
					</div>
					<!-- 4 -->
					<div class="col-12 col-md-6">
						<div class="hoverbox-8">
							<a href="#">
								<img src="../assets/images/col-1.jpg" alt="">
								<div class="content">
									<h6 class="heading-uppercase no-margin">City at Night</h6>
								</div>
							</a>
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container-fluid -->
		</div>
		<!-- end Gallery section -->

		<div class="section-sm text-center">
			<div class="container-fluid">
				<a class="text-btn" href="#">View All Works</a>
			</div><!-- end container-fluid -->
		</div>
	</body>
</html>