<!-- Portfolio section -->
		<div class="section">
			<div class="container">
				<!-- Portfolio filter -->
				<div class="filter filter-style-4 text-center">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".category-1">First</li>
						<li data-filter=".category-2">Second</li>
						<li data-filter=".category-3">Third</li>
					</ul>
				</div>
				<!-- end Portfolio filter -->
				<div class="row portfolio-wrapper spacing-10 hover-style-5">
					<!-- Portfolio box 1 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-1">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 2 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-2">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 3 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-3">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 4 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-1">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 5 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-2">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 6 -->
					<div class="col-12 col-md-6 col-lg-4 portfolio-item category-3">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="../../assets/images/col-2.jpg" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h6 class="heading-uppercase">Project Title</h6>
									<span>Category</span>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end row/portfolio-wrapper -->
				<br>
				<!-- Pagination -->
				<nav>
					<ul class="pagination justify-content-center margin-top-70">
						<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
					</ul>
				</nav>
			</div><!-- end container -->
		</div>
		<!-- end Portfolio section -->
	</body>
</html>